.header {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    color:#F9F9F9;  
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 100%;
    height: 400px;
}

#text {
    position: absolute;
    display: block;
    max-width: 1500px;
    white-space: pre-wrap;
    word-break: break-word;
    margin: auto;
    font-size : clamp(1rem, 12vw, 20vh);
    letter-spacing: clamp(2rem, 5vw, 5rem);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 30px #F9F9F9, 0 0 5px #F9F9F9;
}

.header h1{
    color:#F9F9F9;
    max-width: 1500px;
    width: auto;
}

.header a {
    text-decoration: none;
    color:#F9F9F9;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #6883BA;
}

.header a :hover{
    text-decoration: none;
    color: #EFCA08;
}