body {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F9F9F9;
    color: #6883BA;
}

.navBar ul{
    list-style-type: none;
    background-color: #7CA982;
    border-radius: 10px;
    text-align: center;
}
.navBar ul li{
    display: inline-block;
    position: relative;
}

.navBar ul li a{
    display: block;
    padding: 10px;
    color:#F9F9F9;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    
}

.navBar ul li ul.dropdown li {
    display:block;
}
.navBar ul li ul.dropdown{
    width: 100%;
    padding-left: 0px;
    z-index: 999;
    background-color: #7CA982;
    position: absolute;
    display: none;
}
.navBar ul li a:hover{
    color:#EFCA08;
}
.navBar ul li:hover ul.dropdown{
    display: block;
}

.container {
    position: relative;
    text-align: center;
    background-color: #7CA982;
    color:#F9F9F9;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
}

.cornhp {
    position: absolute;
    top: 5%;
    left: 25%;
    font-size: 80px;
    letter-spacing: 60px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #6883BA;
    text-shadow: 0 0 30px #F9F9F9, 0 0 5px #F9F9F9;
}

a {
    color: #6883BA
}

a:hover {
    color: #EFCA08;
  }