body{
    margin: 50px;
    background-color: #f1ebe3;
    color: #6883BA;
}

h1{
    color: #6883BA;
}

h2{
    text-indent: 10px;
}

h2 a{
    text-indent: 10px;
    color:#7CA982;
}

p {
    color: #6883BA;
    margin: 25px;
    text-indent: 20px;
    text-align: justify;
    text-overflow: clip;
    font-size: 20px;
}

a {
    color: #6883BA
}

a:hover {
    color: #EFCA08;
  }


.container{
    container-type: flex;
    position: relative;
    max-width: 1500px;
    max-height: 1500px;
    margin-bottom: 500px;
    text-align: center;
}

.background {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    flex-shrink: 1;
}

.foreground {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}

.corn {
    display: block;
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}

#buttonCorn {
    display: block;
    margin: auto;
    background-color: #7CA982;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border-radius: 10px;
    border-width: 0px;
    color:#f1ebe3;
    padding: 25px;
    flex-shrink: 1;
}

#buttonCorn:hover {
    color:#EFCA08;
    font-style: italic;
    border-width: 0px;
}